body{
    background-color: #e6e8ea;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
}

header{
    background-color: white;
}

.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    text-align: center;
    width: 450px;
}

nav ul{
    list-style-type: none;
    padding: 0em;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav ul li{
    display: inline;  
}

nav ul li a{
    text-decoration: none;
    color: #4f555c;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: lighter;
       
}

nav ul li a:hover{
    color: #a2a4a8;
}

.logo{
    
    width: 30px;
    /* border: 2px solid ; */
     margin: 5px 0 5px 15px; 
}

main{
    margin: 0;
}

.welcome{
    text-align: center;
    padding: 25px 25px;
}

.welcome p{
    line-height: 2;
}

.gallery{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.image{
    width: 346px;
    background-color: white;
}

.image-container{
    width: 450px;
}

.article{
    margin: 0 20px 0 20px;
}

#date1{
    color: rgb(255, 166, 1);
}

.call-to-action{
   margin: 60px 0 40px;
   text-align: center;
}

#view{
    color: white;
    background-color: orange;
    border-radius: 2em;
    padding: 13px 20px;
    border: 0px;
    font-size: 17px;
    font-weight: 550;
}

.end{
    display: flex;
    justify-content: space-around;
    background-color: #0e0d0d;
    align-items: center ;
    padding: 30px;
    color: white;
}

.enquiry-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 100px 10px;
    

}

.enquiry{
    background-color: #afb0b3;
}

#contactUs{
    text-align: center;
    padding: 20px;
    font-size: 30;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
    font-weight: 500;
}

.form-page{
    width: 600px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    font-weight: 500;
    margin: 0 20px 20px 20px;
}

label, option {
    padding: 15px 0 3px 5px;
    font-weight: 520;
    font-size: 18px;
}

input{
    border: 2.5px solid #f0f0f0;
    padding: 10px 0 3px 5px;
    font-weight: 200;
    border-radius: 4px;
}

#textarea{
    width: 100%;
    height: 140px;

}

#button{
    padding: 15px;
    margin: 35px 0;
    background-color: orange;
    font-size: large;
    font-weight: 600;
    color: white;
}

#button:hover{
    background-color: rgb(236, 155, 3);
}

.map{
   margin: 0;
}





/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 
    
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 

}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    
.enquiry-section{
   flex-direction: row;   
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 

}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) { 

}